[Unit]
Description=Blog App
After=network.target

[Service]   
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/blog-app
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=AWS_SECRET_NAME=blog/prod/secrets-tf
Environment=AWS_REGION=us-west-2

[Install]
WantedBy=multi-user.target
