aws_region           = "us-west-2"
vpc_cidr             = "10.0.0.0/16"
az_a                 = "us-west-2a"
az_b                 = "us-west-2b"
db_username          = "admins"
db_password          = "CHANGE_ME"
google_client_id     = "YOUR_GOOGLE_CLIENT_ID"
google_client_secret = "YOUR_GOOGLE_CLIENT_SECRET"
google_redirect_url  = "https://blog.wilfierd.engineer/auth/google/callback"
